[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
pandas = "*"
PySide2 = "*"
pyqt5 = "*"

[dev-packages]
autopep8 = "*"
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
